<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ tty_session_email_subject }}</title>
    <style>
      table {
          width: 100%;
          border-collapse: collapse;
          border: 2px solid #ccc;
      }
      th, td {
          border: 1px solid #ccc;
          padding: 8px;
          text-align: left;
      }
      th {
          background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>{{ tty_session_email_subject }}</h1>
      <table>
        <thead>
          <tr>
            {% for key in tty_sessions[0].keys() %}
              <th>{{ key | replace("_", " ") | title }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item in tty_sessions %}
            <tr>
              {% for value in item.values() %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
